# Temporary files #
.DS_Store
*.pyc
*.swp
*.swo
*~
\#*
.#*
._*

# TeX files #
*.log
*.aux
*.synctex.gz

# Particular files #
/week2/chr18.fa
/week2/chr18_attributes.txt
/week2/chr18.gtf
/week2/gc_per_window.txt
